{% load static %}

<!DOCTYPE html>
<html class="sticky-header-reveal">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>Web Developers</title>
		<link href="{% static 'img/Demo/favicon.png' %}" rel="shortcut icon"/>
		
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Alphaandroid - Creative Agency of web developers">
		<meta name="keywords" content="Web developer (using coding), Digital Marketing" />
		<meta name="author" content="Pavan And Romil">

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

		{% comment %} Header style {% endcomment %}
		<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
		<link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
		<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<!-- Owl Stylesheet -->
		<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<!-- Magnific PopUP Stylesheet -->
		<link rel="stylesheet" href="{% static 'css/isotope.css' %}">
		<!-- Isotope Stylesheet -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<!-- Bootstrap Stylesheet -->
		<link rel="stylesheet" href="{% static 'css/et-lant-font.css' %}" />
		<!-- Et-Lant Font Stylesheet -->
		<link rel="stylesheet" href="{% static 'css/3dslider.css' %}" />
		<!-- 3D Slider Stylesheet -->
		<link rel="stylesheet" href="{% static 'css/animate.css' %}" />
		<!-- Animate Stylesheet -->
		<link rel="stylesheet" href="{% static 'css/material-design-iconic-font.css' %}" />
		<!-- Iconic Font Stylesheet -->

		<link rel="stylesheet" href="{% static 'style.css' %}">
		<!-- Main Style.css Stylesheet -->

		<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
		<!-- Resposive.css Stylesheet -->






		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'css/about/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/about/all.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/about/animate.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/about/simple-line-icons.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/about/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/about/owl.theme.default.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/about/magnific-popup.min.css' %}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'css/carousels/theme.css' %}">
		<link rel="stylesheet" href="{% static 'css/carousels/theme-elements.css' %}">
		<link rel="stylesheet" href="{% static 'css/carousels/theme-blog.css' %}">
		<link rel="stylesheet" href="{% static 'css/carousels/theme-shop.css' %}">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="{% static 'css/carousels/settings.css' %}">
		<link rel="stylesheet" href="{% static 'css/carousels/layers.css' %}">
		<link rel="stylesheet" href="{% static 'css/carousels/navigation.css' %}">


		<!-- Demo CSS -->
		<link rel="stylesheet" href="{% static 'css/about/demo-gym.css' %}">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'css/about/skin-gym.css' %}">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'css/about/custom.css' %}">

		
		<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
		<link rel="stylesheet" href="{% static 'css/specialfeatures.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
		<link rel="stylesheet" href="{% static 'specialfeatures.css' %}">
		<link rel="stylesheet" href="{% static 'css/sp-responsive.css' %}">

		<!-- Head Libs -->
		<script src="{% static 'js/about/modernizr.min.js' %}"></script>
		<style>
		.apps-craft-main-menu-area {
			background-image: -webkit-linear-gradient( 35deg, rgb(239,61,136) 0%, rgb(253,190,57) 100%);
    		background-image: -ms-linear-gradient( 35deg, rgb(239,61,136) 0%, rgb(253,190,57) 100%);
    		background-color: transparent;
			}

		.pchide{
		display: none;
		}
		@media only screen
		and (min-device-width : 120px)
		and (max-device-width : 600px){
		.pchide { display: block;}
		}
		.phonehide{
			display: block;
		}
		@media only screen
		and (min-device-width : 120px)
		and (max-device-width : 600px){
		.phonehide { display: none; }
		}
		</style>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-MRJ5QRJ');</script>
		<!-- End Google Tag Manager -->
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRJ5QRJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<!-- Apps Craft Body Start -->
		<!-- Apps Craft Main Menu -->
		<header class="apps-craft-main-menu-area" id="apps-craft-menus" >
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-6">
						<div class="apps-craft-logo">
							<a href="/">
								<img style= "height: 50px;" src= "{% static 'img/Demo/logo.png' %}" alt="Apps Craft Logo">
							</a>
						</div> <!-- .apps-craft-logo END -->
					</div>

					<div class="col-md-9 col-sm-9 col-xs-6">
						<div class='pchide' style="padding-top: 10px; color: #FDBE39;">+91 6354397102</div>
						<div class="apps-craft-menu-and-serach clear-both">
							<span id="apps-craft-main-menu-icon">
								<div class="la-ball-elastic-dots la-2x item-generate" style="color:#fa326f">
									<div></div>
									<div></div>
									<div></div>
								</div>
							</span>
							<nav id="apps-craft-menu" class="apps-craft-menu">
								<ul>
									<li><a href="/">Home</a></li>
									<li><a href="/about-us/">About</a></li>
									<li><a href="/contact-us/">Contact</a></li>
									<li class= 'phonehide' style="color: #fff;"><a href="tel:+91 6354397102">+91 6354397102</a></li>
								</ul>
							</nav> <!-- .apps-craft-menu END -->
						</div> <!-- .apps-craft-menu-and-serach END -->
					</div>
				</div>
			</div>
		</header>
	<div class="body">
		<div role="main" class="main">
			
			<section class="section section-no-border section-light custom-padding-top-1">
				<div class="container">
					<div class="row mt-4">
						<div class="col-md-7 col-lg-9">
							<h1 class="font-weight-bold text-color-primary mb-0">About Us</h1>
							<h4 class="font-weight-bold text-color-quaternary">Challenge yourself today</h4>
							<p> We are group of passionate coders. We want to make it big. We are commited towards quality and client satisfaction.</p>
							<p class="text-1"> Call/ Whatsapp/ email us to get more information about how we can work together. </p>

						</div>
						<div class="col-md-5 col-lg-3">
							<div class="custom-join-now-form custom-position-style-1 bg-color-primary p-4">
								<h4 class="font-weight-bold text-color-light mb-0">Contact</h4>
								<p class="font-weight-light text-color-light text-2">Get a free training to take your business online!</p>
								
								<form class="contact-form" action="" method="POST">

									{% csrf_token %}
									<div class="contact-form-success alert alert-success d-none mt-4" id="vipRequestSuccess">
										<strong>Success!</strong> Your VIP request has been sent to us.
									</div>

									<div class="contact-form-error alert alert-danger d-none mt-4" id="vipRequestError">
										<strong>Error!</strong> There was an error sending your VIP request.
										<span class="mail-error-message text-1 mt-2 d-block" id="vipRequestErrorMessage"></span>
									</div>

									<input type="hidden" name="subject" value="Vip Request Received" />
									<div class="form-row">
										<div class="form-group col">
											<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="vipRequestName" placeholder="Your Name" required>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col">
											<input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="vipRequestEmail" placeholder="Your E-mail" required>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col">
											<input type="text" value="" data-msg-required="Please enter your phone." maxlength="100" class="form-control" name="phone" id="vipRequestPhone" placeholder="Your Phone" required>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col mb-0">
											<input type="submit" value="Send Message" class="btn btn-quaternary custom-btn-style-2 font-weight-bold" data-loading-text="Loading...">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>

<!--			<section class="parallax section section-text-light section-parallax m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="{% static 'img/Demo/about-us/about-us-parallax-1.jpg' %}">-->
<!--				<div class="container">-->
<!--					<div class="row justify-content-end">-->
<!--						<div class="col-lg-6">-->
<!--							<h2 class="font-weight-bold text-color-light">Why Us?</h2>-->
<!--							<div class="row">-->
<!--								<div class="col-md-6">-->
<!--									<ul class="list list-icons list-light text-color-light">-->
<!--										<li><i class="fas fa-check"></i>Professionals </li>-->
<!--										<li><i class="fas fa-check"></i>Experianced </li>-->
<!--										<li><i class="fas fa-check"></i>Google Certified</li>-->
<!--										<li><i class="fas fa-check"></i>Learned From HARVARD</li>-->
<!--										<li><i class="fas fa-check"></i>Computer Engineers</li>-->
<!--									</ul>-->
<!--								</div>-->
<!--								<div class="col-md-6">-->
<!--									<ul class="list list-icons list-light text-color-light">-->
<!--										<li><i class="fas fa-check"></i>Lifetime support</li>-->
<!--										<li><i class="fas fa-check"></i>Customer Satisfaction</li>-->
<!--										<li><i class="fas fa-check"></i>Fully Secure</li>-->
<!--										<li><i class="fas fa-check"></i>Indian</li>-->
<!--									</ul>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</section>-->


<!-- Apps Craft Footer Section -->
		<footer class="apps-craft-footer-section" id="apps-craft-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="apps-craft-footer-logo-and-social">
							<figure class="apps-craft-footer-logo text-center">
								<a href="#">
									<img src="{% static 'img/Demo/logo.png' %}" alt="Apps Craft Footer Logo" class="wow fadeInUp" data-wow-delay=".2s">
								</a>
							</figure> <!-- .apps-craft-footer-logo END -->
							<div>
								<center><a href="mailto:contact@alphaandroid.com?&subject=Contact%20for%20New%20Construction%20Project%20&body=Hi%20sir,%0d%0dI%20saw%20your%20website%20bhuganinfracon.com%20it%20is%20so%20Beautiful.%20I%20want%20to%20know%0d%0dmore%20about%20you%0dNumber%20of%20Guest:%0d" rel="EMAIL"><h4 style="color: #fff;" > Email: contact@alphaandroid.com</h4></a></center>
							</div>
							 <!-- .apps-craft-social-link END -->
						</div> <!-- .apps-craft-footer-logo-and-social END -->
						<div class="apps-craft-footer-menu-and-copyright-txt clear-both">
							<div class="apps-craft-copyright-txt wow fadeInUp" data-wow-delay=".6s">
								<p>&copy; 2020 Alphaandroid.</p>
							</div> <!-- .apps-craft-copyright-txt END -->
							<nav class="apps-craft-footer-menu wow fadeInUp" data-wow-delay=".8s">
								<ul>
									<li><a href="/">Home</a></li>
									<li><a href="/about-us/">about</a></li>
									<li><a href="/contact-us/">Contact</a></li>
									<li><a href="/privacy-policy/">Privacy Policy</a></li>
								</ul>
							</nav> <!-- .apps-craft-footer-menu END -->
						</div> <!-- .apps-craft-footer-menu-and-copyright-txt END -->
					</div>
				</div>
			</div>
		</footer> <!-- .apps-craft-footer-section END -->

			
		</div>

		<!-- Vendor -->
<!--		<script src="{% static 'js/about/vendor/jquery.min.js' %}"></script>-->
		<script src="{% static 'js/about/vendor/jquery.appear.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/jquery.easing.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/jquery.cookie.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/popper.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/common.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/jquery.validate.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/jquery.easypiechart.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/jquery.gmap.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/jquery.lazyload.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/jquery.isotope.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/jquery.vide.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/vivus.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/instafeed.min.js' %}"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'js/about/theme.js' %}"></script>

		<!-- Current Page Vendor and Views -->
		<script src="{% static 'js/about/vendor/jquery.themepunch.tools.min.js' %}"></script>
		<script src="{% static 'js/about/vendor/jquery.themepunch.revolution.min.js' %}"></script>

		<!-- Current Page Vendor and Views -->
		<script src="{% static 'js/about/view.contact.js' %}"></script>

		<!-- Demo -->
		<script src="{% static 'js/about/demo-gym.js' %}"></script>

		<!-- Theme Custom -->
		<script src="{% static 'js/about/custom.js' %}"></script>

		<!-- Theme Initialization Files -->
		<script src="{% static 'js/about/theme.init.js' %}"></script>




	<!-- js File Start -->

	<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<!-- jquery-3.1.1.min.js -->
	<script type="text/javascript" src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<!--jquery.ajaxchimp.min.js  -->
	<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!--jquery.easing.1.3.js  -->
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- bootstrap.min.js -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- owl.carousel.min.js -->
	<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	<!-- isotope.pkgd.min.js -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<!-- jquery.magnific-popup.min.js -->
	<script src="{% static 'js/skrollr.min.js' %}"></script>
	<!-- skrollr.min.js -->
	<script src="{% static 'js/utils.js' %}"></script>
	<!-- utils.js -->
	<script src="{% static 'js/jquery.parallax.js' %}"></script>
	<!-- jquery.parallax.js -->
	<script src="{% static 'js/wow.js' %}"></script>
	<!-- wow.js -->
	<script src="{% static 'js/jquery.tubular.1.0.js' %}"></script>
	<!-- jquery.tubular.1.0.js -->
	<script src="{% static 'js/jquery.ripples-min.js' %}"></script>
	<!-- jquery.ripples-min.js -->
	<script src="{% static 'js/particles.js' %}"></script>
	<!-- jquery.particles.js -->

	<script src="{% static 'js/main.js' %}"></script>
	<!-- main.js -->

<!--		-->

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
			ga('create', 'UA-12345678-1', 'auto');
			ga('send', 'pageview');
		</script>
		 -->


	</body>
</html>
